doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/Chart.js')
    script(type='text/javascript' src='/javascripts/index.js')

  body
    block content
