* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  background: rgb(44,44,44);
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  background-color: #212121;
  color: white;
  border: 0;
  width: 100%;
  height: 4em;
  transition: all 0.5s ease-out;
  text-align: center;
}

input:focus {
  border-color: white;
}

header {
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(19, 41, 59);
}

header img {
  margin-left: 32px;
}

header .top{
  float:left;
}

.top input {
  border-radius: 20px;
}

.top #searchResults {
  margin: auto;
  width: 90%;
}

.main-hidden {

}

.main-wrap {
  height: 70%;
  background: linear-gradient(rgb(20, 24, 41), rgb(19, 41, 59), rgb(44, 44, 44));
  text-align: center;
  align-items: center;
  transition: transform 1s linear;
}

.search-wrap {
  width: 100%;
  max-width: 70%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.search-wrap top {
  margin-left: -120px;
}

.logo-wrap {
  padding-top: 32px;
  text-align: center;
  width: 100%;
  height: 30%;
  background: linear-gradient(rgb(0, 0, 0), rgb(20, 24, 41));

}

.logo {
  transition: transform 3.4s linear;
}

h1 {
  color: white;
}

.logo h1 {
  margin: 1em 0 0 0;
}


#sun {
  overflow: visible;
  position: relative;
  right: 30px;
  width: 120px;
  height: 120px;
}

.sun-hidden {
}

#logo {
  position: relative;
  left: 70px;
  width: 300px;
  height: 120px;
}

.logo-hidden {
  transform: translateX(-300%);
}

#logo-small {
  height: 64px;
  width: 64px;
}

.result-wrap {
  min-width: 370px;
  padding: 4px 10%;
  text-align: left;
  margin: auto;
}

.result-wrap span {
  margin-right: 15px;
  float: right;
}

.result-wrap img {
  float: right;
}

a {
  color: #00B7FF;
}

li {
  font-size: 2em;
  padding: 2px 0;
  background-color: #212121;
  color: #00B7FF;
  cursor: pointer;
  align-items: center;
}

li:hover {
  background-color: #373737;
}

ul {
  margin-top: -1px;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}


.chart-wrap {
  margin-top: 32px;
}

.chart-wrap > button {
  top: 40%;
  transform: translateY(-50%);
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border-width: 4px;
  background-color: rgba(0,0,0,0);
}

#nextChart {
  margin-right: 8%;
  right: 0;
}

#previousChart {
  margin-left: 8%;
  left: 0;
}

.chart {
  margin-bottom: 32px;
  width: 100%;
}

.chart .wiki:nth-child(1){
  border-radius: 10px 10px 0 0;
}

.chart-container {
  background-color: rgb(44, 44, 44);
  border-top: 15px solid rgb(44, 44, 44);
  border-bottom: 15px solid rgb(44, 44, 44);
  margin: auto;
  height: 100%;
  width: 70vw;
  position: relative;
}

.buttons {
  display: flex;
  width: 70vw;
  margin: auto;
}

button {
  color: white;
  background-color: #212121;
  border: 1px solid #373737;
}

.buttons button {
  font-size: 1.2em;
  width: 20%;
  height: 64px;
}

button:hover {
  cursor: pointer;
  background-color: #373737;
  border: 1px solid #212121;
}

#canvas {
  background-color: #212121;
}

.hidden  {
  display: none;
}

.active {
  display: block !important;
}


.top {
  max-height: 64px;
  position: relative;
  top: 50%;
}

.wiki {

  background-color: rgb(44, 44, 44);
  justify-content: center;
  display: flex;
  text-align: left;
  width: 70vw;
  margin: auto;
}

.wiki img {

}

.wikitext {
  margin: auto;
  width: 70%;
  line-height: 1.6em;
}

.wikitext h1 {
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 0.5em;
  border-bottom: 1px solid #373737;
}

.wikitext p {
  color: #fd971f;
  padding: 0 15px;
}

.wikiWrap {
  margin-top: 32px;
}

.image-container {
  padding-top: 32px;
  margin: auto auto auto 40px;
}

.flag {
  height: 88px;
}

.compare-search {
  height: 4em;
}

#main {
  padding-top: 70px;
}

#searchResults {
  width: 100%;
}

#searchResults li{
  align-items: center;
  text-align: center;
}
